@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.7);
  }
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  min-width: 900px;
}
header {
  padding: 15px 40px;
  color: #3c00b3;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
}
.dropdown {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  border: solid 1px #007d7d;
  width: 200px;
  z-index: 20;
}
.dropdown li {
  margin: 3px 0;
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
  padding: 2px 0px 2px 5px;
}
.dropdown li:hover {
  background-color: #f0f0f0;
}
.dropdown.active {
  opacity: 1;
  visibility: visible;
}

.dropdown.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}
.about {
  color: #1212a1;
}
label {
  display: block;
  font-size: 12px;
  color: #007d7d;
}

ul li {
  list-style-type: none;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(204, 204, 204);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(161, 161, 161);
}

.grid-container > * {
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  min-width: fit-content;
}
.title {
  background-color: #1212a1;
  color: white;
  border: 0;
  margin: 0 0 5px 0;
  margin-top: -5px;
  border-radius: 7px;
  height: 35px;
  line-height: 35px;
  text-align: left;
  padding-left: 20px;
  vertical-align: middle;
}
.code {
  white-space: pre-wrap;
  text-align: left;
  font-family: "Courier New", monospace;
  font-size: small;
  padding: 10px;
  height: 320px;
  overflow: scroll;
}
input[type="text"] {
  width: 115px;
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: #007d7d;
  font-size: 14px;
  margin-bottom: 5px;
}
select {
  width: 140px;
  padding: 10px 15px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: #007d7d;
  font-size: 14px;
  appearance: none;
}
input[type="submit"] {
  margin-left: -50px;
  width: 50px;
  display: inline-block;
  background-color: transparent;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  background-image: url("/public/icons/add.png");
  background-repeat: no-repeat;
  background-position: center;
}
.delete-list-el {
  margin: 3px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: transparent;
  padding: 8px;
  border: none;
  cursor: pointer;
  background-image: url("/public/icons/delete.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  order: 2;
}
.delete-f {
  margin-right: 20px;
  height: 25px;
  width: 25px;
  display: inline-block;
  padding: 8px;
  border: none;
  cursor: pointer;
  background-image: url("/public/icons/delete.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 100%;
}
.delete-act {
  margin: 3px;
  height: 25px;
  width: 25px;
  display: inline-block;
  background-color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  background-image: url("/public/icons/delete.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 100%;
}
.list-box {
  background-color: white;
  width: 150px;
  padding: 10px 15px 10px;
  margin: 0 auto 0 auto;
  border-radius: 5px;
  border-color: #007d7d;
  font-size: 15px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-box > ul {
  width: 90%;
  height: 90px;
  padding: 0;
  overflow-y: scroll;
}
.list-box li {
  justify-content: space-between;
}
button {
  background-color: #3c00b3;
  border: none;
  color: white;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; /* Set font size */
  margin: 4px 2px; /* Add some margin */
  cursor: pointer; /* Add cursor as a hand pointer */
  border-radius: 5px; /* Add rounded corners */
}
.file-input::file-selector-button {
  background-color: #3c00b3;
  border: none;
  color: white;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; /* Set font size */
  margin: 4px 2px; /* Add some margin */
  cursor: pointer; /* Add cursor as a hand pointer */
  border-radius: 5px;
}
.list-box li {
  text-align: left;
  display: flex;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: auto;
  padding: 2% 5% 2% 5%;
  min-width: 800px;
  max-width: 1200px;
}
.grid-files {
  grid-column: 1/4;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.files {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.grid-name {
  grid-column: 1/4;
  grid-row: 3/4;
  padding-top: 10px;
}
.tabswitcher {
  grid-column: 1/4;
  display: flex;
  width: 100%;
  background-color: transparent;
}

.tabswitcher > button {
  border: none;
  background-color: transparent;
  color: #333;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.tabswitcher > .selected {
  background-color: #3c00b3;
  color: #fff;
}
.grid-container-agreement > .title {
  grid-column: 1/4;
}
.grid-state {
  margin-top: 10px;
}
.grid-auth {
  grid-column: 2/2;
}
.grid-datasource {
  grid-column: 3/4;
}
.agreement-row {
  display: inline-flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
  gap: 15px;
}
.grid-assets {
  grid-column: 1 / 2;
}
.grid-fields {
  grid-column: 2/3;
}
.grid-parties {
  grid-column: 3/4;
  grid-row: 4/5;
}
.grid-agreement {
  grid-column: 1 / 3;
  height: 500px;
}
.grid-agreement .add-button {
  grid-column: 1/-1;
  height: 15px;
  width: 20px;
  margin-bottom: 15px;
  background-color: transparent;
  cursor: pointer;
  background-image: url("/public/icons/add.png");
  background-repeat: no-repeat;
  background-position: center;
}
.grid-agreement .remove-button {
  margin-right: 20px;
  height: 25px;
  width: 25px;
  display: inline-block;
  padding: 8px;
  border: none;
  cursor: pointer;
  background-image: url("/public/icons/delete.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 100%;
}
.grid-agreement .add-button:hover {
  animation: grow 0.1s ease-in;
  animation-fill-mode: forwards;
}
.container-agreements {
  overflow: scroll;
  height: 320px;
  margin-bottom: -20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.grid-function {
  grid-column: 1/4;
}
.grid-code {
  grid-column: 3/4;
  grid-row: 5/6;
}
.grid-graph {
  grid-column: 3/4;
}
.grid-actions {
  background-color: white;
}
.menu-trigger {
  height: 15px;
  width: 20px;
  margin: 0px;
  cursor: pointer;
  background-image: url("/public/icons/add.png");
  background-repeat: no-repeat;
  background-position: left;
}
.menu-trigger:hover {
  animation: grow 0.1s ease-in;
  animation-fill-mode: forwards;
}
.grid-container-function {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
.grid-container-function > .title {
  grid-column: 1/5;
  display: flex;
  align-items: center;
}
.grid-container-function > .title button:last-child {
  margin-left: auto;
  background-color: transparent;
  text-decoration: underline;
}
.hoinput > .title {
  grid-column: 1/5;
  display: flex;
  align-items: center;
  height: 50px;
}
.hoinput > .title button:last-child {
  margin-left: auto;
  background-color: transparent;
  text-decoration: underline;
}
.grid-f-name {
  grid-column: 1/2;
}
.f-recap {
  margin-top: -25px;
  text-align: left;
  font-size: 14px;
  grid-column: 1/-1;
}
.grid-f-party {
  grid-column: 2/3;
  grid-row: 3/4;
}
.grid-f-fields {
  grid-column: 3/4;
  grid-row: 3/4;
}
.grid-f-assets {
  grid-column: 4/5;
  grid-row: 3/4;
}
.grid-f-conditions {
  grid-column: 1/4;
}
.grid-from-state {
  grid-column: 1/2;
}
.grid-to-state {
  grid-column: 1/2;
}
.grid-f-actions {
  grid-column: 1/5;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  margin-left: 10px;

  max-height: 500px;
  overflow-y: scroll;
}
.action-view {
  border-left: 2px solid #1212a1;
  text-align: left;
  padding: 10px 0 10px 0px;
  margin-left: 15px;
  border-radius: 5px;
}
.action label {
  display: inline;
  margin: 0px 10px;
}
.action {
  display: flex;
}
.hoinputs-container {
  background-color: #fff;
  grid-column: 1/4;
}
.ho-grid {
  max-height: 800px;
  overflow: scroll;
  display: grid;
  margin-top: 20px;
  padding-top: 10px;
  margin: 20px 10px 20px 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.ho-grid > div {
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.hoinput {
  margin: 20px 10px 10px 0px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  min-width: fit-content;
  border-style: solid;
  border-color: #1212a1;
}
.ho-function {
  grid-column: 1/-1;
}
.ho-actions {
  grid-column: 1/-1;
}
.ho-tostate {
  grid-column: 1/-1;
}
.ho-description {
  grid-column: 1/-1;
  margin-top: -10px;
}
.ho-code {
  height: 200px;
}
